global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'litellm'
    static_configs:
      - targets: ['litellm:4000']

  - job_name: 'api'
    static_configs:
      - targets: ['api:8888']

  - job_name: 'qdrant'
    static_configs:
      - targets: ['qdrant:6333']
