
--index-url https://download.pytorch.org/whl/cpu
torch

# Reset index pour les autres packages
--index-url https://pypi.org/simple/

# API / Web
fastapi
uvicorn[standard]
python-multipart
python-jose[cryptography]
passlib[bcrypt]

# Base de données
psycopg2-binary        # ✅ binary = pas besoin de compiler

# LLM
transformers
# huggingface_hub      # inclus dans transformers

# Utilitaires
pydantic
python-dotenv
httpx
